In [1]:
## Import Library
!python -m pip install --user --upgrade pip

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

Requirement already satisfied: pip in c:\users\김유경\appdata\roaming\python\python37\site-packages (21.1.2)

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)

In [2]:
## 데이터 불러오기
df = pd.read_csv('./bank.csv', sep = ';')

df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,no,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,no,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [3]:
## 결측치 확인
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [78]:
## onehot encoding
df = pd.get_dummies(df,columns=['job','marital','education','default','housing','loan','contact','month','poutcome'])

## Label encoding
from sklearn.preprocessing import LabelEncoder
for i in label_colname: 
label_colname = ['y']
Le = LabelEncoder()
Le = Le.fit(label_colname[i])
Y[i] = Le.transform(label_colname[i])
# label_colname = ['y']
# Le.transform(['yes'])

Y

IndentationError: expected an indented block (<ipython-input-78-d25b45931565>, line 7)

In [72]:
print('y')

y

In [53]:
## 데이터셋 분할
from sklearn.model_selection import train_test_split

Y_colname = ['y']
X_colname = [x for x in df.columns if x not in Y_colname]
X_train, X_test, Y_train, Y_test = train_test_split(df[X_colname], df[Y_colname], test_size=0.2, random_state=123)

print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(3616, 51) (3616, 1)
(905, 51) (905, 1)

In [58]:
## 데이터 스케일링
scaler = preprocessing.MinMaxScaler()
scaler_fit = scaler.fit(X_train)
X_train = pd.DataFrame(scaler_fit.transform(X_train), index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(scaler_fit.transform(X_test), index=X_test.index, columns=X_test.columns)

In [64]:
## XGBoosting
!pip install xgboost --user --upgrade

from xgboost import XGBClassifier
xgb = XGBClassifier(learning_rate=0.05, n_estimators = 100, random_state=123).fit(X_train, Y_train)

Y_train_pred = xgb.predict(X_train)
Y_test_pred = xgb.predict(X_test)
P_train_pred = xgb.predict_proba(X_train)
P_test_pred = xgb.predict_proba(X_test)

Requirement already satisfied: xgboost in c:\users\김유경\appdata\roaming\python\python37\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.5.2)
[03:58:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\lib\site-packages)
C:\Users\김유경\AppData\Roaming\Python\Python37\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [65]:
## Confusion Matrix
print('Confusion Matrix: Train')
conf_mat = metrics.confusion_matrix(Y_train, Y_train_pred)
conf_mat = pd.DataFrame(conf_mat, index=['True: 0', 'True: 1'], columns=['Pred: 0', 'Pred: 1'])

print('Confusion Matrix: Test')
conf_mat = metrics.confusion_matrix(Y_test, Y_test_pred)
conf_mat = pd.DataFrame(conf_mat, index=['True: 0', 'True: 1'], columns=['Pred: 0', 'Pred: 1'])


## Classification Metrics
print('Classification Metrics: Train')
print(metrics.classification_report(Y_train, Y_train_pred, target_names=['class 0', 'class 1']))

print('Classification Metrics: Test')
print(metrics.classification_report(Y_test, Y_test_pred, target_names=['class 0', 'class 1']))

Confusion Matrix: Train
Confusion Matrix: Test
Classification Metrics: Train
              precision    recall  f1-score   support

     class 0       0.95      1.00      0.97      3192
     class 1       0.94      0.59      0.72       424

    accuracy                           0.95      3616
   macro avg       0.95      0.79      0.85      3616
weighted avg       0.95      0.95      0.94      3616

Classification Metrics: Test
              precision    recall  f1-score   support

     class 0       0.92      0.98      0.95       808
     class 1       0.63      0.34      0.44        97

    accuracy                           0.91       905
   macro avg       0.78      0.66      0.70       905
weighted avg       0.89      0.91      0.90       905

In [66]:
def evaluation_class_ROCAUC(Y_true, P_pred, figsize=(10,5)):
    fpr, tpr, thresholds = metrics.roc_curve(Y_true, P_pred)
    cm = evaluation_class_ConfusionMatrix(Y_true, P_pred>=0.5)
    recall = cm.iloc[1,1] / cm.sum(axis=1).values[1]
    fallout = cm.iloc[0,1] / cm.sum(axis=1).values[0]
    
    plt.figure(figsize=figsize)
    plt.plot(fpr, tpr, label='Logistic Regression')
    plt.plot([0, 1], [0, 1],'r--')
    plt.plot([fallout], [recall], 'ro', ms=10)
    plt.title('AUC: ' + str(metrics.auc(fpr, tpr)), fontsize=15)
    plt.xlabel('False Positive Rate', fontsize=15)
    plt.ylabel('True Positive Rate', fontsize=15)
    plt.xticks(fontsize=12)
    plt.yticks(fontsize=12)
    plt.legend(loc='best', fontsize=12)
    plt.show()
    
## ROC 곡선 + AUC
print('ROC Curve: Train')
evaluation_class_ROCAUC(Y_train, P_train_pred[:,1])

print('ROC Curve: Test')
evaluation_class_ROCAUC(Y_test, P_test_pred[:,1])

ROC Curve: Train

ValueError: y_true takes value in {'no', 'yes'} and pos_label is not specified: either make y_true take value in {0, 1} or {-1, 1} or pass pos_label explicitly.